/*
=======================================================
CSS Reset
=======================================================
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
=======================================================
Clearfix
=======================================================
*/

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  clear: both;
  *zoom: 1;
}

/*
=======================================================
Body
=======================================================
*/

body{
  font-family: sans-serif;
  min-width: 300px;
  background: #e3e3e3;
}

/*
=======================================================
Nav
=======================================================
*/

nav{
  background: white;
  width: 100%;
  min-width: 300px;
  height: 80px;
  position: fixed;
  top: 0;
  box-shadow: 0 0 32px rgba(0,0,0,.15);
  font-family: 'Ropa Sans', sans-serif;
}

.logo {
  width: 163px;
  height: 65px;
  background: purple;
  float: left;
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  padding-top: 15px;
  cursor: pointer;
}

.logo:hover{
  background: url("../images/logo-back.jpg") 0 0 no-repeat;
}

.logo a{
  color: white;
}

.right{
  width: 162px;
  height: 80px;
  text-decoration: none;
  float: right;
}

.middle{
  float: left;
  display: none;
  padding-left: 15px;
  padding-top: 25px;
}

.middle a{
  font-size: 30px;
  padding-right: 10px;
  color: lightgray;
}

.middle a:hover{
  color: black;
}

div a{
  text-decoration: none;
}

.search{
  height: 65px;
  float: left;
  padding: 15px 0 0 16px;
  border-left: 1px solid lightgrey;
}

.menu{
  height: 65px;
  float: right;
  padding: 15px 18px 0 18px;
  border-left: 1px solid lightgrey;
}

.right img{
  width: 45px;
}

/*
=======================================================
Main-section
=======================================================
*/

section{
  width: 100%;
  min-height: 1500px;
  background: #e3e3e3;
  padding-top: 80px;
}

.hero{
  color: white;
  font-family: 'Ropa Sans', sans-serif;
}

.hero .one h1{
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10px;
}

.hero .one h2{
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.hero .one h3{
  font-size: 25px;
  color: grey;
}

.hero .box-font h1{
  font-size: 50px;
  font-weight: bold;
  padding-bottom: 10px;
}

.hero .box-font h2{
  font-size: 25px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.hero .box-font h3{
  font-size: 25px;
  color: grey;
}

.hero h1, .hero h2, .hero h3{
  padding: 0 10px;
}

.hero a{
  text-decoration: none;
  color: grey;
}

.hero a:hover{
  color: white;
}

.left-box .one{
  max-width: 100%;
  height:170px;
  margin: 10px;
  background-image: url('../images/one.jpg');
  background-size: cover;
}

.right-box .two{
  max-width: 100%;
  height:170px;
  margin: 10px;
  background-image: url('../images/two.jpg');
  background-size: cover;
}

.right-box .three{
  max-width: 100%;
  height:170px;
  margin: 10px;
  background-image: url('../images/three.jpg');
  background-size: cover;
}

/*
=======================================================
Section - latest news
=======================================================
*/
.latestNews{
  padding: 10px;
  margin-top: 30px;
}

.section-title h1{
  color: #F42;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 30px;
}

.section-items .item{
  white-space: nowrap;
  margin-bottom: 15px;
}

.item .item-box{
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
}

.item .img-box{
  width: 72px;
  height: 72px;
  background: url("../images/item-box-img.jpg");
  background-size: cover;
  cursor: pointer;
}

.item .deal-box{
  background: url("../images/deal-box.jpg");
  background-size: cover;
}

.item-box h1{
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}


/*
=======================================================
Footer
=======================================================
*/

.foot-links{
  background: #131313;
  width: 100%;
  color: white;
}

.foot-links .links-box{
  display: inline-block;
  vertical-align: top;
  padding: 60px 0;
  padding-left: 50px;
  padding-right: 120px;
  font-size: 25px;
}

.links-box h1{
  padding-bottom: 30px;
  color: darkgrey;
}

.links-box li{
  padding-bottom: 10px;
  cursor: pointer;
}

.links-box li span{
  font-size: 15px;
  color: gray;
}

.foot-social{
  width: 100%;
  background-color: #131313;
}

.social-box{
  width: 43%;
  margin: 0 auto;
  padding-top: 40px;
}

.social-box a{
  display: inline-block;
  width: 60px;
  height: 60px;
  background: #2d2d2d;
  border: 3px solid #2d2d2d;
  border-radius: 100px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.social-box a:hover{
  background: #131313;
}

.social-box a img{
  width: 40px;
  padding-top: 17%;
  padding-left: 17%;
}

.foot-more{
  width: 100%;
  padding: 40px 0;
  background: #131313;
  font-size: 20px;
  text-align: center;
}

.foot-more .more-box a{
  color: darkgrey;
  padding-right: 20px;
  padding-bottom: 10px;
}

.foot-more .more-box a:hover{
  color: white;
}

.foot-footer{
  background: black;
  width: 100%;
  text-align: center;
}

.foot-box{
  padding: 60px 0;
}

.foot-box a{
  color: darkgrey;
}

.foot-box a:hover{
  color: white;
}

/*
=======================================================
Media Queries
=======================================================
*/

@media screen and (min-width: 1152px){
  .menu{
    display: none;
  }

  .middle{
    display: block;
  }

  .search{
    padding-right: 16px;
  }

  .right{
    width: auto;
  }

  .left-box{
    width: 65%;
    float: left;
  }

  .left-box .one{
    height: 350px;
    margin-right: 5px;
  }

  .right-box{
    width: 35%;
    float: right;
  }

  .hero .one h1{
    font-size: 70px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .hero .one h2{
    font-size: 30px;
    padding-top: 110px;
    padding-bottom: 10px;
  }

  .hero .one h3{
    font-size: 30px;
    color: grey;
  }

  .hero .box-font h1{
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
  }

  .hero .box-font h2{
    font-size: 20px;
    padding-top: 50px;
    padding-bottom: 10px;
  }

  .hero .box-font h3{
    font-size: 20px;
    color: grey;
  }

  .section-items{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
  }

  .section-items .item{
    display: inline-block;
  }

  .item .item-box{
    display: block;
  }

  .item .img-box{
    width: 450px;
    height: 200px;
    margin-bottom: 10px;
  }

  .item .deal-box{
    width: 400px;
    height: 300px;
  }


}

@media screen and (max-width: 829px){

  .hero .one h1, .hero .box-font h1{
    font-size: 20px;
  }

}
